.centellaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f7f5;
  color: #333;
  overflow-x: hidden;
  width: 100%;
}

/* HERO */
.hero {
  position: relative;
  background-image: url("/assets/gotu-drops.jpeg");
  background-size: 140% auto;
  background-attachment: fixed;
  background-position: left;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .overlay {
    position: absolute;
    inset: 0;
    // background: rgba(44, 45, 45, 0.295);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(14, 14, 14, 0.418)
    );
  }

  .heroContent {
    max-width: 550px;
    color: #fff;
    padding-left: 13%;
    position: relative;

    h1 {
      font-size: 3rem;
      color: var(--col3);
      margin-bottom: 1rem;
      font-weight: 700;
    }

    p {
      font-size: 1.3rem;
      line-height: 1.6;
      color: black;
    }
  }
}

/* INTRODUCTION */
.introduction {
  background: linear-gradient(to left, var(--col2), var(--col7));
  padding: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;

  .introductionContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

    .text {
      flex: 1 1 45%;

      h2 {
        font-size: 2rem;
        color: var(--col1);
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.1rem;
        color: #444;
        margin-bottom: 1rem;
        line-height: 1.6;
      }
    }

    .imageGrid {
      flex: 1 1 40%;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding-right: 2rem;

      .imagePlaceholder {
        flex: 1 1 40%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        height: 16rem;

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}

